In [1]:
import pandas as pd
import numpy as np

PSEUDONYMISED_PATIENT_ID,AGE_AT_ARRIVAL,GENDER_NATIONAL_DESCRIPTION,SITE,ARRIVAL_DTTM,ARRIVAL_MODE_NATIONAL_CODE,TRIAGE_ASSESSMENT_DTTM,FIRSTDOC_FOR_TREATMENT_DTTM,ADM_REQUEST_DTTM,ADM_REQUEST_LOC_DESCRIPTION,ADMISSION_FLAG,DEPARTURE_DTTM,STREAM_LOCAL_CODE
4484,56,Female,HOSPITAL1,2013-08-04 09:59:00,2.0,2013-08-01 10:52:00,2013-08-01 12:41:00,,,0,2013-08-03 12:22:00,MIN

# ED

In [2]:
np.random.seed(7)

In [3]:
size = 24

In [4]:
def make_datetime_array(size):
    datetimes = []
    j = 0

    for i in np.arange(size):

        new = pd.datetime(2018,1,1,j,5)
        j+=1
        datetimes.append(new)
    return datetimes

#make_datetime_array(size)
#datetimes

In [5]:
arrival_array = make_datetime_array(size)

In [6]:
ED_data = {
'PSEUDONYMISED_PATIENT_ID':np.arange(0,size),
'AGE_AT_ARRIVAL':np.random.randint(18,100,size),
'GENDER_NATIONAL_DESCRIPTION':[1]*size,
'SITE':['HOSPITAL']*size,
'ARRIVAL_DTTM':arrival_array,
'ARRIVAL_MODE_NATIONAL_CODE':[1]*size,
'TRIAGE_ASSESSMENT_DTTM':[np.datetime64()] * size,
'FIRSTDOC_FOR_TREATMENT_DTTM':[np.datetime64()] * size,
'ADM_REQUEST_DTTM':[np.datetime64()] * size,
'ADM_REQUEST_LOC_DESCRIPTION':['inpatient']*size,
'ADMISSION_FLAG':[0]*size,
'DEPARTURE_DTTM':[np.datetime64()] * size,
'STREAM_LOCAL_CODE':['MAJORS']* size,
}

In [7]:
dfED = pd.DataFrame(data=ED_data)
dfED.head()

,ADMISSION_FLAG,ADM_REQUEST_DTTM,ADM_REQUEST_LOC_DESCRIPTION,AGE_AT_ARRIVAL,ARRIVAL_DTTM,ARRIVAL_MODE_NATIONAL_CODE,DEPARTURE_DTTM,FIRSTDOC_FOR_TREATMENT_DTTM,GENDER_NATIONAL_DESCRIPTION,PSEUDONYMISED_PATIENT_ID,SITE,STREAM_LOCAL_CODE,TRIAGE_ASSESSMENT_DTTM
0,0,NaT,inpatient,65,2018-01-01 00:05:00,1,NaT,NaT,1,0,HOSPITAL,MAJORS,NaT
1,0,NaT,inpatient,86,2018-01-01 01:05:00,1,NaT,NaT,1,1,HOSPITAL,MAJORS,NaT
2,0,NaT,inpatient,43,2018-01-01 02:05:00,1,NaT,NaT,1,2,HOSPITAL,MAJORS,NaT
3,0,NaT,inpatient,85,2018-01-01 03:05:00,1,NaT,NaT,1,3,HOSPITAL,MAJORS,NaT
4,0,NaT,inpatient,41,2018-01-01 04:05:00,1,NaT,NaT,1,4,HOSPITAL,MAJORS,NaT

#### fill blank datetime columns

In [8]:
dfED.TRIAGE_ASSESSMENT_DTTM = dfED.ARRIVAL_DTTM + pd.Timedelta(10,'m')
dfED.FIRSTDOC_FOR_TREATMENT_DTTM = dfED.ARRIVAL_DTTM + pd.Timedelta(10,'m')
dfED.ADM_REQUEST_DTTM = dfED.ARRIVAL_DTTM + pd.Timedelta(45,'m')
dfED.DEPARTURE_DTTM = dfED.ARRIVAL_DTTM + pd.Timedelta(60,'m')

#### make second half of data more interesting

In [9]:
# dfED.ADMISSION_FLAG
dfED.loc[size/2:,'ADMISSION_FLAG'] = 1

In [10]:
dfED.columns

Index(['ADMISSION_FLAG', 'ADM_REQUEST_DTTM', 'ADM_REQUEST_LOC_DESCRIPTION',
       'AGE_AT_ARRIVAL', 'ARRIVAL_DTTM', 'ARRIVAL_MODE_NATIONAL_CODE',
       'DEPARTURE_DTTM', 'FIRSTDOC_FOR_TREATMENT_DTTM',
       'GENDER_NATIONAL_DESCRIPTION', 'PSEUDONYMISED_PATIENT_ID', 'SITE',
       'STREAM_LOCAL_CODE', 'TRIAGE_ASSESSMENT_DTTM'],
      dtype='object')

In [11]:
#### clean the DTTMs for non-admitted patients
indexes_non_adm = dfED[dfED.ADMISSION_FLAG == 0].index

dfED.loc[indexes_non_adm, 'ADM_REQUEST_DTTM'] = np.datetime64("NaT")
dfED.loc[indexes_non_adm, 'ADM_REQUEST_LOC_DESCRIPTION'] = np.nan

In [12]:
dfED.to_csv('./SimpleED.csv',index=False)

# IP

In [13]:
size = 24

In [14]:
arrival_array = make_datetime_array(size)

In [15]:
np.random.choice(['Non-Elective', 'Elective', 'Day Case'],20)

array(['Elective', 'Non-Elective', 'Non-Elective', 'Elective',
       'Non-Elective', 'Elective', 'Non-Elective', 'Day Case',
       'Non-Elective', 'Elective', 'Day Case', 'Day Case', 'Non-Elective',
       'Day Case', 'Elective', 'Non-Elective', 'Non-Elective', 'Elective',
       'Non-Elective', 'Non-Elective'], dtype='<U12')

In [16]:
IP_data = {
'PSEUDONYMISED_PATIENT_ID':np.arange(0,size) + 100,
'SPELL_ID':np.arange(0,size),
'AGE_AT_ARRIVAL':np.random.randint(18,100,size),
'GENDER_NATIONAL_DESCRIPTION':[1] * size,
'SITE':['HOSPITAL']*size,
'ADM_DTTM':arrival_array,
'ADM_SOURCE_CODE':[1] * size,
'ADM_TYPE': np.random.choice(['Non-Elective', 'Elective', 'Day Case'],size),
'ADM_METHOD':[11] * size,
'DIS_DTTM':[np.datetime64()] * size,
'DIS_DESTINATION':['home'] * size,
'DIS_METHOD':[1] * size,
'LOCATION_NUMBER':[1] * size,
'LOCATION_START':[np.datetime64()] * size,
'LOCATION_END':[np.datetime64()] * size,
'LOCATION_NAME':['WARD'] * size,
'SPELL_LOS':[np.nan]*size
}

In [17]:
dfIP = pd.DataFrame(data=IP_data)
dfIP.head()

,ADM_DTTM,ADM_METHOD,ADM_SOURCE_CODE,ADM_TYPE,AGE_AT_ARRIVAL,DIS_DESTINATION,DIS_DTTM,DIS_METHOD,GENDER_NATIONAL_DESCRIPTION,LOCATION_END,LOCATION_NAME,LOCATION_NUMBER,LOCATION_START,PSEUDONYMISED_PATIENT_ID,SITE,SPELL_ID,SPELL_LOS
0,2018-01-01 00:05:00,11,1,Day Case,49,home,NaT,1,1,NaT,WARD,1,NaT,100,HOSPITAL,0,NaN
1,2018-01-01 01:05:00,11,1,Day Case,62,home,NaT,1,1,NaT,WARD,1,NaT,101,HOSPITAL,1,NaN
2,2018-01-01 02:05:00,11,1,Elective,89,home,NaT,1,1,NaT,WARD,1,NaT,102,HOSPITAL,2,NaN
3,2018-01-01 03:05:00,11,1,Day Case,41,home,NaT,1,1,NaT,WARD,1,NaT,103,HOSPITAL,3,NaN
4,2018-01-01 04:05:00,11,1,Non-Elective,28,home,NaT,1,1,NaT,WARD,1,NaT,104,HOSPITAL,4,NaN

#### replace second half of entries with different values

In [18]:
dfIP.loc[size/2:,'ADM_METHOD'] = 21
dfIP.loc[size/2:,'GENDER_NATIONAL_DESCRIPTION'] = 2

In [19]:
dfIP

,ADM_DTTM,ADM_METHOD,ADM_SOURCE_CODE,ADM_TYPE,AGE_AT_ARRIVAL,DIS_DESTINATION,DIS_DTTM,DIS_METHOD,GENDER_NATIONAL_DESCRIPTION,LOCATION_END,LOCATION_NAME,LOCATION_NUMBER,LOCATION_START,PSEUDONYMISED_PATIENT_ID,SITE,SPELL_ID,SPELL_LOS
0,2018-01-01 00:05:00,11,1,Day Case,49,home,NaT,1,1,NaT,WARD,1,NaT,100,HOSPITAL,0,NaN
1,2018-01-01 01:05:00,11,1,Day Case,62,home,NaT,1,1,NaT,WARD,1,NaT,101,HOSPITAL,1,NaN
2,2018-01-01 02:05:00,11,1,Elective,89,home,NaT,1,1,NaT,WARD,1,NaT,102,HOSPITAL,2,NaN
3,2018-01-01 03:05:00,11,1,Day Case,41,home,NaT,1,1,NaT,WARD,1,NaT,103,HOSPITAL,3,NaN
4,2018-01-01 04:05:00,11,1,Non-Elective,28,home,NaT,1,1,NaT,WARD,1,NaT,104,HOSPITAL,4,NaN
5,2018-01-01 05:05:00,11,1,Non-Elective,53,home,NaT,1,1,NaT,WARD,1,NaT,105,HOSPITAL,5,NaN
6,2018-01-01 06:05:00,11,1,Elective,82,home,NaT,1,1,NaT,WARD,1,NaT,106,HOSPITAL,6,NaN
7,2018-01-01 07:05:00,11,1,Elective,79,home,NaT,1,1,NaT,WARD,1,NaT,107,HOSPITAL,7,NaN
8,2018-01-01 08:05:00,11,1,Elective,25,home,NaT,1,1,NaT,WARD,1,NaT,108,HOSPITAL,8,NaN
9,2018-01-01 09:05:00,11,1,Non-Elective,41,home,NaT,1,1,NaT,WARD,1,NaT,109,HOSPITAL,9,NaN
10,2018-01-01 10:05:00,11,1,Day Case,39,home,NaT,1,1,NaT,WARD,1,NaT,110,HOSPITAL,10,NaN
11,2018-01-01 11:05:00,11,1,Day Case,53,home,NaT,1,1,NaT,WARD,1,NaT,111,HOSPITAL,11,NaN
12,2018-01-01 12:05:00,21,1,Non-Elective,85,home,NaT,1,2,NaT,WARD,1,NaT,112,HOSPITAL,12,NaN
13,2018-01-01 13:05:00,21,1,Non-Elective,37,home,NaT,1,2,NaT,WARD,1,NaT,113,HOSPITAL,13,NaN
14,2018-01-01 14:05:00,21,1,Elective,45,home,NaT,1,2,NaT,WARD,1,NaT,114,HOSPITAL,14,NaN
15,2018-01-01 15:05:00,21,1,Non-Elective,22,home,NaT,1,2,NaT,WARD,1,NaT,115,HOSPITAL,15,NaN
16,2018-01-01 16:05:00,21,1,Non-Elective,37,home,NaT,1,2,NaT,WARD,1,NaT,116,HOSPITAL,16,NaN
17,2018-01-01 17:05:00,21,1,Non-Elective,51,home,NaT,1,2,NaT,WARD,1,NaT,117,HOSPITAL,17,NaN
18,2018-01-01 18:05:00,21,1,Non-Elective,48,home,NaT,1,2,NaT,WARD,1,NaT,118,HOSPITAL,18,NaN
19,2018-01-01 19:05:00,21,1,Day Case,75,home,NaT,1,2,NaT,WARD,1,NaT,119,HOSPITAL,19,NaN
20,2018-01-01 20:05:00,21,1,Day Case,91,home,NaT,1,2,NaT,WARD,1,NaT,120,HOSPITAL,20,NaN
21,2018-01-01 21:05:00,21,1,Day Case,99,home,NaT,1,2,NaT,WARD,1,NaT,121,HOSPITAL,21,NaN
22,2018-01-01 22:05:00,21,1,Elective,49,home,NaT,1,2,NaT,WARD,1,NaT,122,HOSPITAL,22,NaN
23,2018-01-01 23:05:00,21,1,Day Case,20,home,NaT,1,2,NaT,WARD,1,NaT,123,HOSPITAL,23,NaN

#### cycle through each entry and create the location move data

In [20]:
newdf = dfIP.copy()
for index, row in dfIP.iterrows():
#     print(index,row)
    #### input ward start and end to old record
    
    newdf.loc[index,'LOCATION_START'] = newdf.loc[index]['ADM_DTTM']
    move_datetime = newdf.loc[index]['ADM_DTTM'] + pd.Timedelta(24,'h')
    newdf.loc[index,'LOCATION_END'] = move_datetime
    
    #### make new record with start and end record

    row['LOCATION_START'] = move_datetime # set move start

    moveend_datetime = newdf.loc[index]['LOCATION_END'] + pd.Timedelta(48,'h') # add time to previous move end
    row.loc['LOCATION_END'] = moveend_datetime
    row.loc['LOCATION_NUMBER'] = 2 # set second record to LOCATION_NUMBER 2
    newdf = newdf.append(row)
    newdf.reset_index(inplace=True,drop=True)
    
    #### set LOCATION_NUMBER to 2
#     newdf.loc[index]['LOCATION_NUMBER'] + 1
    
    #### set DIS_DTTM in all records from largest 'LOCATION_END'
    spell_id = newdf.loc[index]['SPELL_ID']
    newdf.loc[newdf[newdf['SPELL_ID'] == spell_id].index,'DIS_DTTM'] = moveend_datetime
    
    
newdf.head()

,ADM_DTTM,ADM_METHOD,ADM_SOURCE_CODE,ADM_TYPE,AGE_AT_ARRIVAL,DIS_DESTINATION,DIS_DTTM,DIS_METHOD,GENDER_NATIONAL_DESCRIPTION,LOCATION_END,LOCATION_NAME,LOCATION_NUMBER,LOCATION_START,PSEUDONYMISED_PATIENT_ID,SITE,SPELL_ID,SPELL_LOS
0,2018-01-01 00:05:00,11,1,Day Case,49,home,2018-01-04 00:05:00,1,1,2018-01-02 00:05:00,WARD,1,2018-01-01 00:05:00,100,HOSPITAL,0,NaN
1,2018-01-01 01:05:00,11,1,Day Case,62,home,2018-01-04 01:05:00,1,1,2018-01-02 01:05:00,WARD,1,2018-01-01 01:05:00,101,HOSPITAL,1,NaN
2,2018-01-01 02:05:00,11,1,Elective,89,home,2018-01-04 02:05:00,1,1,2018-01-02 02:05:00,WARD,1,2018-01-01 02:05:00,102,HOSPITAL,2,NaN
3,2018-01-01 03:05:00,11,1,Day Case,41,home,2018-01-04 03:05:00,1,1,2018-01-02 03:05:00,WARD,1,2018-01-01 03:05:00,103,HOSPITAL,3,NaN
4,2018-01-01 04:05:00,11,1,Non-Elective,28,home,2018-01-04 04:05:00,1,1,2018-01-02 04:05:00,WARD,1,2018-01-01 04:05:00,104,HOSPITAL,4,NaN

### calc spell LOS

Just use days (real hosp rules more complex).

In [21]:
newdf['SPELL_LOS'] = newdf.apply(lambda x : ((x.DIS_DTTM - x.ADM_DTTM)/pd.Timedelta(1,'D')),axis=1)

#### round down

In [22]:
newdf['SPELL_LOS'] = newdf['SPELL_LOS'].apply(np.floor)

In [23]:
newdf.to_csv('./SimpleIP.csv',index=False)

In [24]:
newdf.head()

,ADM_DTTM,ADM_METHOD,ADM_SOURCE_CODE,ADM_TYPE,AGE_AT_ARRIVAL,DIS_DESTINATION,DIS_DTTM,DIS_METHOD,GENDER_NATIONAL_DESCRIPTION,LOCATION_END,LOCATION_NAME,LOCATION_NUMBER,LOCATION_START,PSEUDONYMISED_PATIENT_ID,SITE,SPELL_ID,SPELL_LOS
0,2018-01-01 00:05:00,11,1,Day Case,49,home,2018-01-04 00:05:00,1,1,2018-01-02 00:05:00,WARD,1,2018-01-01 00:05:00,100,HOSPITAL,0,3.0
1,2018-01-01 01:05:00,11,1,Day Case,62,home,2018-01-04 01:05:00,1,1,2018-01-02 01:05:00,WARD,1,2018-01-01 01:05:00,101,HOSPITAL,1,3.0
2,2018-01-01 02:05:00,11,1,Elective,89,home,2018-01-04 02:05:00,1,1,2018-01-02 02:05:00,WARD,1,2018-01-01 02:05:00,102,HOSPITAL,2,3.0
3,2018-01-01 03:05:00,11,1,Day Case,41,home,2018-01-04 03:05:00,1,1,2018-01-02 03:05:00,WARD,1,2018-01-01 03:05:00,103,HOSPITAL,3,3.0
4,2018-01-01 04:05:00,11,1,Non-Elective,28,home,2018-01-04 04:05:00,1,1,2018-01-02 04:05:00,WARD,1,2018-01-01 04:05:00,104,HOSPITAL,4,3.0

In [25]:
break

SyntaxError: 'break' outside loop (<ipython-input-25-6aaf1f276005>, line 1)

In [ ]:
spell_id

In [ ]:
newdf['SPELL_ID'] == spell_id

In [ ]:
nrec = dfIP.loc[0]

In [ ]:
row['ADM_DTTM'] = 5

In [ ]:
row

In [ ]:
dfIP.append(nrec)